<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class=" uk-background-cover uk-background-muted uk-padding uk-position-cover uk-flex uk-flex-middle">
    <div th:replace="fragments/navbar"></div>
    <div class="uk-container">
        <h2></h2>
        <div th:if="${request} == null"> No value represent!</div>
        <div th:if="${request} != null">
            <div class="uk-card uk-card-default uk-card-body uk-width-xlarge">
                <h3 class="uk-card-title" th:text="'Subject: ' + ${request.subject}"></h3>
                <div th:if="${request.comments} != null">
                    <div th:replace="request-comment-section/request-comment"></div>
                </div>
                <form autocomplete="off" th:action="@{/comment/add/{id}(id=${request.id})}" th:object="${newComment}">
                <fieldset class="uk-fieldset" >
                    <legend class="uk-legend">Add new comment</legend>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" rows="5" th:field="*{comment}" placeholder="Textarea"></textarea>
                    </div>
                    <button class="uk-button uk-button-primary" type="submit">Send it!</button>
                </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>