<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="uk-container">
    <h1>Reg fck</h1>

    <div class="uk-position-center k-margin">

        <div class="" th:if="${successMessage}" th:text="${successMessage}"></div>

        <form autocomplete="off" action="#" th:action="@{/registration}"
              th:object="${user}" method="post" roles="form">

            <div class="uk-margin">
                <div class="uk-inline">
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                           class="alert alert-danger"></label>
                    <input type="password" th:field="*{password}" placeholder="Password"
                           class="uk-input"/>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                           class="alert alert-danger"></label>
                    <input type="text" th:field="*{username}" placeholder="Username"
                           class="uk-input"/>
                </div>
            </div>
            <div class="uk-margin">
                <input type="submit" class="uk-button uk-button-default" value="Submit"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>