<div class="uk-position-small uk-position-top-left" th:fragment="" xmlns:th="http://www.w3.org/1999/xhtml" >
    <button type="button" class="uk-light" uk-icon="icon: menu"></button>
    <div uk-dropdown>
        <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-active"><a href="#">Active</a></li>
            <li><a href="#">Item</a></li>
            <li class="uk-nav-header">Header</li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#">Item</a></li>
        </ul>
    </div>
</div>