<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class=" uk-background-cover uk-background-primary uk-light uk-padding uk-position-cover uk-flex uk-flex-middle">
    <div class="uk-container">
        <h2> Office matters </h2>
        <div th:if="${requests} != null" class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
            <div th:each="map : ${requests} ">
                <div th:each="mapEntry : ${map}">
                    <div class="uk-card uk-border-rounded uk-card-default uk-card-body">
                            <div>
                                <div class="uk-card uk-border-rounded uk-card-default uk-card-hover uk-card-small uk-card-body">
                                    <h3 class="uk-card-title">Small</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>